.App {
  text-align: center;
}

:root {
  --primary-bg-color: #61dafb;
  --hover-bg-color: #acebfd;
  --active-menu-btn-bg-color:  #4095c6;
  --hover-bg-color-grey: #6595a260;
  --text-color: #6e6d6d;
  --transition-speed: 0.3s;

}

/* ---------------------MENU BUTTON NAV BAR----------------- */

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.menu-button-icon {
width: 40px;
}

.nav.open {
  max-height: 500px;
}

.nav-link {
  padding: 10px;
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
} 



/*------------------------------------------ Responsive styles for smaller screens------------------------------------- */
@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .nav {
    display: flex;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    flex-direction: column;
    width: 100%;
    font-size: 3rem;
  }

  .header-top {
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
  }

  .menu-button:hover,
  .menu-button:focus {
    background-color: var(--active-menu-btn-bg-color);
  }

  .h1-name-header {
    margin: 0;
    padding: 10px;
    color: #666;
    font-size: 20px;
  }

  .nav-link {
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color var(--transition-speed), transform var(--transition-speed), color var(--transition-speed);
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
  }

  .nav-link:hover {
    background-color: var(--hover-bg-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .no-decor-links {
    text-decoration: none;
  }


}



/*------------------------------------------ Responsive styles for BIGGER screens------------------------------------- */

@media (min-width: 769px) {
  .header-top {
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    max-height: none;
    padding: 1px;
    justify-content: flex-end;
    gap: 1rem;
  }

  .menu-button {
    display: none;
  }

  header {
    display: flex;
    height: 1rem;
    background-color: var(--primary-bg-color);
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }

  .nav-link {
    /* padding: 1rem; */
    border-radius: 5px;
    transition: background-color var(--transition-speed), transform var(--transition-speed), color var(--transition-speed);
    color: var(--text-color);
    text-decoration: none;
    font-size: large;
  }

  .nav-link:hover {
    background-color: var(--hover-bg-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .nav-link:hover, .nav-link.active {
    color: var(--hover-bg-color);
    background-color: var(--active-menu-btn-bg-color);
  }

  .h1-name-header {
    margin: 0;
    /* padding: 10px; */
    color: #666;
    font-size: 25px;
  }

  .no-decor-links {
    text-decoration: none;
    color: black;
  }
}


/* ---------------------PROFILE IMAGE LANDING PAGE----------------- */

.profile-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 5rem;
  margin-top: 6rem;
  margin-bottom: 6.6rem;
}

.profile-img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tech-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate 60s linear infinite;
}

.tech-item {
  position: absolute;
  width: 60px;
  height: 60px;
  /* To edit size of icons */
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
}

.tech-item img {
  width: 100%;
  height: 100%;
}

.tech-item:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg) translateX(260px);
}

.tech-item:nth-child(2) {
  transform: translate(-50%, -50%) rotate(36deg) translateX(260px);
}

.tech-item:nth-child(3) {
  transform: translate(-50%, -50%) rotate(72deg) translateX(260px);
}

.tech-item:nth-child(4) {
  transform: translate(-50%, -50%) rotate(108deg) translateX(260px);
}

.tech-item:nth-child(5) {
  transform: translate(-50%, -50%) rotate(144deg) translateX(260px);
}

.tech-item:nth-child(6) {
  transform: translate(-50%, -50%) rotate(180deg) translateX(260px);
}

.tech-item:nth-child(7) {
  transform: translate(-50%, -50%) rotate(216deg) translateX(260px);
}

.tech-item:nth-child(8) {
  transform: translate(-50%, -50%) rotate(252deg) translateX(260px);
}

.tech-item:nth-child(9) {
  transform: translate(-50%, -50%) rotate(288deg) translateX(260px);
}

.tech-item:nth-child(10) {
  transform: translate(-50%, -50%) rotate(324deg) translateX(260px);
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




/* ---------------------ABOUT PAGE---------------- */

.about-section {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  /* max-width: 800px; */
  margin: auto;
  align-content: center;
}

.img-size {
  width: 5rem;
  /* background-color: #61dafb; */
}

.download-icon {
  width: 40px;
  height: 40px;
}

.download-resume {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.social-icon {
  width: 50px;
  height: 50px;
  padding: 1rem;
}

.social-icon:hover {
  background-color: var(--hover-bg-color);
  border-radius: 5px;
}

/* .name-header {
  font-size: 5em;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
} */

.about-description {
  font-size: 1.2em;
  color: #666;
  line-height: 1.5;
  text-align: justify;
  margin: 0 10%;
  margin-bottom: 2rem;
}

@keyframes shimmer {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}

.name-header {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to right, #61dafb, #005792);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: shimmer;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 0.3;
}

/* ---------------------ABOUT PAGE---------------- */

.p-width {
  width: 80vmin;
}

.flex-container {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 5rem;
}

/* ---------------------TECHNOLOGIES----------------- */

.technologies {
  display: flex;
  justify-content: center;
  align-content: center;
}

.technologies img {
  width: 6rem;
  padding: 1rem;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  padding: 20px;
  justify-items: center;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tech-logo {
  /* width: 50px; */
  height: 6rem;
  margin-bottom: 5px;
}




/* ---------------------PROJECTS----------------- */

.projects-section {
  padding: 20px;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: flex-start; */
  gap: 2rem;
  align-items: stretch;
  /* background-color: #0056b3; */
  padding: 5rem;

  padding-top: 1rem;
  justify-content: center; 
}

.project-card {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-even; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 400px;
  max-width: 590px;
}

.project-card img {
  width: 100%;
  height: 22rem;
  border-radius: 4px;
  margin-bottom: 10px;
}

.project-card h2 {
  color: #333;
  padding-bottom: 1rem;
}

.project-card p,
.tech-item2,
.project-card ul {
  font-size: 16px;
  color: #666;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button,
.github-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.github-button {
  background-color: #000;
}

.github-button:hover {
  background-color: #333;
}

.tech-item2 {
  display: inline-block;
  margin: 5px 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tech-item2 img {
  display: block;
  margin: auto;
}

.tech-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-top: 10px; */
}


.tech-container img {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}



/* ---------------------CONTACT LINK---------------- */
.contact-links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 4rem;
  align-items: center;
}

.social-icon-contact {
  width: 50px;
  height: 50px;
  padding: 1rem;
}

.contact-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  text-decoration: none;
  color: inherit;
  width: 100%;
  font-size: larger;
}


.resume-download-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.resume-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.resume-link:hover {
  background-color: var(--hover-bg-color);
  /* color: whitesmoke; */
}

.download-icon {
  height: 24px;
  width: auto;
  margin-right: 10px;
}





/* ---------------------Experience----------------- */
.experience-section {
  padding: 20px;
  background-color: #f5f5f5;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;  */
  border-radius: 10px;
}

.experience-item {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.experience-dates {
  font-style: italic;
  color: #666;
}

ul {
  margin-top: 10px;
  text-align: justify;
}

li {
  margin-bottom: 5px;
}